/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

html:focus-within {
    scroll-behavior: smooth;
}

h1,
h2,
p {
    font-size: inherit;
}

ul[role='list'] {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}